*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: dodgerblue;
}

.container{
 box-shadow: 0px 0px 4px black;
 margin-top: 20px; 
 width: 95%;
 margin-left: 10px;
 border-radius: 5px;
}
h2{
  text-align: center;
  padding: 10px 0px;
  border-radius: 5px;
 }

.bismilla{
  text-align: center;
  padding: 15px ;
  font-weight: bold;
}

.text{
  padding: 20px;
  line-height: 30px; 
  font-weight:bold; 
}